.selector-for-some-widget {
    box-sizing: content-box;
  }
  
  .wrap {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .title{
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .footer{
    margin: 0 auto;
    background-color:rgb(233, 224, 224);
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content:center;
  }
  .text-footer{
    text-align: center;
  }

